        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipo de letra*/
            background-color: rgb(249, 251, 231); /*color de fondo*/
            margin: 0px; /*espacio exterior entre el elmento y otros*/ 
        }
        header img {
            width: 100px; /*ancho*/
            height: 100px; /*alto*/
        }
        header {
            background-color: rgb(46, 125, 50); /*color de fondo*/
            color: white; /*color de texto*/
            text-align: center; /*alineacion de texto*/
            padding: 40px 16px; /*espacio interior entre el contenido y el borde*/
        }
        header nav{
            position: fixed;
            top: 0;
            left: 0;width: 100%;
            height: 70px;
            box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5);
            z-index: 1000;
            background-color: rgb(134, 218, 39);
            padding: 10px;
        }
        header nav ul {
            list-style: none; /* Quita los puntos de las listas */
            margin: 0;/*espacio exterior entre el elmento y otros*/
            padding: 0;
        }
        .cabecera ul{
            width: 100%;
            gap: 10px;/*espacio entre loselementos de inicio*/
            display: flex; /*organiza y alinea*/
            flex-wrap: wrap; /*ajusta los elementos en una sola linea o hacia abajo si ya no hay espacio*/
            justify-content: center;/*centra los contenidos*/
        }
        .cabecera li{
            width: 15%;/*ajusta el ancho*/
            border: 1px solid black;/*borde de las listas*/
            border-radius: 5px;/*bordes redondeados*/
            padding: 10px 0px;
            cursor: pointer;/*cambiar el cursor del raton*/
        }
        .cabecera li:hover {
            background-color: #ffffff86;
        }
        a{
            text-decoration: none;/*quita subrayado de los textos*/
            color: white;
            font-size: 18px;/*define el tamaño de letra*/
        }
        .contenido-tarjeta a {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
            color: rgb(27, 94, 32);
            font-size: 18px;/*define el tamaño de letra*/
            font-weight: bold; /*ajusta el grosor o la negrilla del texto*/
        }
        a:hover {
            color: rgb(62, 255, 4);
        }
        header h1 {
            margin: 0; /*espacio exterior entre el elmento y otros*/ 
            font-size: 40px; /*tamaño de texto*/
        }
        header p {
            font-size: 18px; /*tamaño de texto*/ 
        }
        .contenedor-plantas {
            display: flex; /*organiza y alinea*/
            flex-wrap: wrap; /*ajusta los elementos en una sola linea o hacia abajo si ya no hay espacio*/
            justify-content: center; /*centra todos lo elementos en el medio del contenedor*/
            gap: 32px; /*espacio entre elementos*/
            padding: 48px 16px; /*espacio interior entre el contenido y el borde*/
        }
        .tarjeta-planta {
            background-color: rgb(255, 255, 255); /*color de fondo*/ 
            border-radius: 15px; /*redondea las esquinas del elemento*/
            overflow: hidden; /*recorta el contenido que sea mas grande que el elemento*/
            width: 350px; /*ancho*/
            box-shadow: 0 8px 16px rgba(5, 228, 54); /*añade sombras al contorno*/
            transition: transform 0.3s; /*cambia el estilo de un elemento con un efecto animado*/ 
            cursor: pointer; /*cambia la apariencia del puntero del mouse*/
        }
        .tarjeta-planta:hover {
            transform:translateY(-15px); /*permite mover un elemento verticalmente*/ 
        }
        .tarjeta-planta img {
            width: 100%; /*ancho*/
            height: 220px; /*alto*/
        }
        .contenido-tarjeta {
            padding: 24px; /*espacio interior entre el contenido y el borde*/
        }
        .contenido-tarjeta h2 {
            color: rgb(27, 94, 32); /*color del texto*/
            margin-top: 0; /*espacio exterior superior*/
        }
        .contenido-tarjeta p {
            color: rgb(0, 0, 0); /*color de texto*/
        }
        .etiqueta {
            display: inline-block; /*ubica a los elementos uno alado del otro pero aceptando propiedades de tamaño y espacio*/
            background-color: rgba(2, 226, 20, 0.2); /*color de fondo*/
            color: rgb(46, 125, 50); /*color de texto*/
            padding: 7px 13px; /*espacio interior entre el contenido y el borde*/
            border-radius: 20px; /*redondea las esquinas del elemento*/
            font-size: 15px; /*tamaño de texto*/
            font-weight: bold; /*ajusta el grosor o la negrilla del texto*/
        }
        footer {
            text-align: center; /*alineacion del texto al centro*/
            padding: 1.5rem; /*espacio interior entre el contenido y el borde*/
            background-color: rgb(46, 125, 50); /*color de fondo*/
            color: rgb(255, 255, 255); /*color de texto*/
        }
        @media screen and (max-width: 763px) {
            .cabecera li{
                display: block;
                margin: auto;
                width: 180px;
                list-style-type: none;
            }
        }